{
	"title": "Best QUIZ ever!",
	"questions" : [
		{ 
			"title": "Question 1! (MultiOption)",
			"grade_range" : { "min": 0, "max": 2 },
			"type_spec": { "MultiOption": {
				"options": [
					"Option1",
					"Option2",
					"Option3",
					"Option4"
				],
				"answers": [2,3]
			}}
		},
		{ 
			"title": "Question 2! (MultiChoice)",
			"image": "bunny.gif",
			"grade_range" : { "min": 0, "max": 3 },
			"type_spec": { "MultiChoice": {
				"options": [
					"YO",
					"THE ANSWER",
					"padding",
					"ton"
				],
				"answer": 1
			}}
		},
		{ 
			"title": "Question 3?",
			"grade_range" : { "min": 0, "max": 5 },
			"type_spec": { "MultiChoice": {
				"options": [
					"BOi",
					"bOi",
					"bOI",
					"BOOOOI",
					"BIOO",
					"BOB",
					"BAI"
				],
				"answer": 3
			}}
		},
		{ 
			"title": "Question 4? Open question!",
			"grade_range" : { "min": 0, "max": 1 },
			"type_spec": "Open"
		},
		{ 
			"title": "Question 5? Open question with picture!",
			"image": "fightclub_1.png",
			"grade_range" : { "min": 0, "max": 1 },
			"type_spec": "Open"
		}
	]
}
